 <div class="thumbnail">
    <a href="<%= product_path(product) %>"><h5>Product: <%= product.name %></h5></a>
    <h6>Description: <%= truncate(product.description, length: 100) %></h6> <!--truncate shortens descript. to 100 -->
    <h6>$<%= product.formatted_price %></h6>                                <!--chars or less -->
    <hr>
</div>