<h1>Products</h1>
<%= link_to 'Add a Product', '/products/new' %>

<div class="containter">
  <div class="row">
    <div class="col-xs-12 col-md-12">
       <div class="thumbnail">
        <hr>
          <% @products.each do |product| %>
          <h5><%= product.name %></h5>
          <h6><%= product.description %></h6>
          <h6>$<%= product.formatted_price %></h6>
          <% end %>
        <hr>
      </div>
    </div>
  </div>
</div>

