<!DOCTYPE html>
<html>
  <head>
    <title>Rainforest</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body class="landing_page">
    <div class="jumbotron" id="jumbo">
      <h1 id="welcome">Welcome to Rainforest!</h1>
      <p><a class="btn btn-primary btn-lg" href="products" role="button" id="button">Enter</a></p>
    </div>
  </body>
</html>